{% extends "base.html" %}
{% block title %} Inscripciones {% endblock %}
{% block content %}
<h3>Seleccion de Paquete de Inscripcion</h3>
<p> Por favor {{ user.username }} seleccione el paquete que desea</p>
<ul id="nav">
  <li><a href="{% url 'vista_ver_general' %}">Inscripción General al Evento</a></li>
  <li><a href="{% url 'vista_ver_academico' %}">Inscripción con Descuento Para Académicos</a></li>
  <li><a href="{% url 'vista_ver_talleres' %}">Asistencia Exclusiva a Talleres</a></li>
  <!-- <li><a href="{% url 'vista_seleccion_paquete' %}">Asistencia Exclusiva a Charlas y Talleres</a></li> -->
</ul>
{% endblock %}}
