<html>
<head>
<script type="text/javascript">
var checked = 0;
function addCheck(object) {
if (checked!=1) checked++;
else {
object.checked=false;
return false;
}
}
</script>



<br>

<h1 class="title">Lista de Articulos</h1>

<br>
{% if articulos %}
	<table class="table table-hover">
		<theader>
			<tr>
				<td>Titulo</td>
				<td>Promedio</td>
				<td>Estado</td>
			</tr>
		</theader>
	{% for p in articulos %}
		<tbody>
			<tr>
				<td>{{p.titulo}}</td>
				<td>{{p.calcular_promedio}}</td>
				<td>{{p.status}}</td>						
			</tr>
		</tbody>

	{% endfor %}
	</table>
	<br>
	Presidente. Elije los articulos a aceptar de la lista de empatados
	<br>
	Articulos restantes: {{ n }}  Articulos por Decidir: {{n_por_decidir}}
	<form action="{% url 'vista_seleccion_articulo_desempate_escogencia' %}" method="POST">
	{% csrf_token %}
		<input type="hidden" name="numeroTitulos" value="{{n_por_decidir}}">
	{% for p in articulos %}
			<br>
		{% if p.status = 'POR DECIDIR' %}
			<input type="checkbox" name="empatados" value="{{ p }}" onclick='addCheck(this)'>{{ p.titulo }}
		{% endif %}
	{% endfor %}
	<input name="enviar" type="submit" value="enviar">
	</form>
	
{% endif %}

</html>



