{% extends "base.html" %}
{% block title %} Agregar Articulo {% endblock %}

{% block content %}
	<br>
	<h3> Registrar Articulos </h3>
	<br>
		{{ informacion }}
	<br>
	 
	<form action="." method="POST" encType="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Registrar">
		<input type="reset" value="Limpiar">
	</form>
	
	<a href="/"> Regresar </a>
	<a href={% url 'vista_registrar_topico' %}>Agregar Tópico</a>
	<a href={% url 'vista_registrar_autor' %}>Agregar Autor</a>
{% endblock %}
