{% extends "base.html" %}
{% block title %} Registrar Miembro CP {% endblock %}

{% block content %}
	<br>
	<h3> Registrar Miembro CP </h3>
	<br>
		{{ informacion }}
	<br>
	<form action="." method="POST" encType="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="Registrar Miembro CP">
		<input type="reset" value="Limpiar">
	</form>
	<br>
	<br>
	<a class="btn btn-primary" href="/"> Regresar </a>
	<a class="btn btn-primary" href={% url 'vista_registrar_topico' %}>Agregar Tópico</a>
{% endblock %}
