<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<title>{% block title %} Bienvenidos {% endblock %}</title>
	<style type="text/css">
		body{
			padding-bottom: 40px;
			padding-top: 60px;
		}
	</style>
</head>
<body>
	<h1>CLEI</h1>
	<ul id="nav">
		<li><a href="{% url 'vista_principal' %}">Inicio</a></li>
		<li><a href="{% url 'vista_registrar_miembrocp' %}">Registrar Miembro CP </a></li>
		<li><a href="{% url 'vista_registrar_articulo' %}">Registrar Articulo </a></li>
		<li><a href="{% url 'vista_registrar_charlista' %}">Registrar Charlista Invitado </a></li>
		<li><a href="{% url 'vista_registrar_lugar' %}">Registrar Lugar</a></li>
		<li><a href="{% url 'vista_registrar_taller' %}">Registrar Taller</a></li>
		<li><a href="{% url 'vista_registrar_evento_social' %}">Registrar Evento Social</a></li>
		<li><a href="{% url 'vista_registrar_apertura' %}">Registrar Apertura de Conferencia</a></li>
		<li><a href="{% url 'vista_registrar_clausura' %}">Registrar Clausura de Conferencia</a></li>
		<li><a href="{% url 'vista_registrar_charlasInvitadas' %}">Registrar Charlas Invitadas</a></li>
		<li><a href="{% url 'vista_registrar_sesionesPonencia' %}">Registrar Sesion de Ponencia</a></li>
	</ul>
	<div id="content">
	{% block content %}{% endblock %}
	</div>
</body>
</html>